<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="menu" th:fragment="nav">
    <span class="menu-titulo">SpringEduManager</span>
    <a th:href="@{/}">Inicio</a>
    <a th:href="@{/estudiantes}">Estudiantes</a>
    <a th:href="@{/cursos}">Cursos</a>
    <a th:href="@{/evaluaciones}">Evaluaciones</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/cursos/nuevo}">+ Nuevo curso</a>
    <span class="menu-usuario" sec:authorize="isAuthenticated()">
        Hola, <span sec:authentication="name">usuario</span>
    </span>
    <form th:action="@{/logout}" method="post" class="form-logout">
        <button type="submit">Cerrar sesion</button>
    </form>
</nav>
</body>
</html>
